*.class
*.log

# Vim Specific
*.swp

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Mac OSX Specific
*.DS_Store

# Ignoring Makefiles
*Makefile
*makefile

# Scala-IDE specific
.scala_dependencies
